.title{
    color: white;
    background-color: #49678D;
}
.mensagem{
    opacity: 0.6;
    color: white;
    margin: 1em;
}
.info-mensagem{
    background-color: #606E8C;
}
.warning-mensagem{
    background-color: #79553D;
}
.danger-mensagem{
    background-color: #412227;
}
.btn{
    margin: 1em;
}
.invisivel{
    display: none;
}
.ul-lista{
    list-style-type: none;
}
.li-lista{
    margin-bottom: 1em;
}
